[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = ?????????????????????????????????????????????????????????????????????????? ???????????????????????????????????????????????????????????????????????????????????????????????????? ?????????????????????????????????????????????????????????????????????????????????????????????
[access "refs/*"]
	owner = group user/Zeno_ (zhuzhongxian)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Zeno_ (zhuzhongxian)
	label-Verified = -1..+1 group user/Zeno_ (zhuzhongxian)
	push = group user/Zeno_ (zhuzhongxian)
	read = group user/Zeno_ (zhuzhongxian)
	rebase = group user/Zeno_ (zhuzhongxian)
	removeReviewer = group user/Zeno_ (zhuzhongxian)
	submit = group user/Zeno_ (zhuzhongxian)
[access "refs/heads/*"]
	create = group user/Zeno_ (zhuzhongxian)
	push = +force group user/Zeno_ (zhuzhongxian)
	pushMerge = group user/Zeno_ (zhuzhongxian)
	read = group user/Zeno_ (zhuzhongxian)
[access "refs/tags/*"]
	push = group user/Zeno_ (zhuzhongxian)
	push = +force group user/Zeno_ (zhuzhongxian)
