<include file='Public/header' />
<!DOCTYPE html>
<html>
<head>
	<title>组织管理</title>
</head>
<body>
<table class="table table-striped">
  <caption><h2>组织管理</h2></caption>
  <thead>
    <tr>
      <th>       </th>
      <th>       </th>
      <th>组织编号</th>
      <th>组织名称</th>
        <th>组织简介</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <volist name='data' id='vol'>
    <tr>
      <td>         </td>
      <td>         </td>
      <td>{$vol.org_id}</td>
      <td>{$vol.org_name}</td>
        <td>{$vol.org_describe}</td>
      <td><a class="btn btn-default" href="__CONTROLLER__/edit/id/{$vol.org_id}" role="button">修改</a>
      <a class="btn btn-primary" href="__CONTROLLER__/del/id/{$vol.org_id}" role="button">删除</a></td>
    </tr>
  </volist>
  </tbody>
</table>

<center>
<ul class="pagination" >
    <a href="{$show}"></a>
    <li><a href="#">&laquo;</a></li>
    <li class="active"><a href="#">1</a></li>
    <li class="disabled"><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">&raquo;</a></li>
</ul>
</center>

</body>
</html>