<include file='Public/header' />
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
                <div class="panel panel-default">

                    <div class="panel-heading">活动ID: {$data.a_id}</div>
                    <div class="panel-body">
                        <p>活动描述：{$data.a_describe}</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">活动名称：{$data.a_name}</li>
                        <li class="list-group-item">活动地点：{$data.a_place}</li>
                        <li class="list-group-item">承办组织：{$data.organization}</li>
                    </ul>

                </div>
        </div>
    </div>
</div>

</body>
</html>